*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url(Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item {
  width: 150px;
  max-height: 100px;
  background-color: darkslateblue;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  margin-bottom: 4px;
  margin-left: 5px;
  font-size: 25px;

  transform-origin: 0 0;
  transform: translateX(-100px);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.wrapper:is(:hover, :focus) .menu-item {
  transform: translateX(0);
  opacity: 100%;
}

.wrapper .menu-item:nth-of-type(1) {
  transition-delay: 0ms;
}

.wrapper .menu-item:nth-of-type(2) {
  transition-delay: 100ms;
}

.wrapper .menu-item:nth-of-type(3) {
  transition-delay: 200ms;
}

.wrapper .menu-item:nth-of-type(4) {
  transition-delay: 300ms;
}

.wrapper .menu-item:nth-of-type(5) {
  transition-delay: 400ms;
}

.wrapper .menu-item:nth-of-type(6) {
  transition-delay: 500ms;
}

.wrapper p {
  font-weight: bold;
  margin-bottom: 8px;
  background-color: blueviolet;
  color: white;
  padding: 15px;
  border-radius: 4px;
}

a{
  color: white;
  text-decoration: none;
}

.arribita{
  display: flex;
  padding: 25px;
  background-color: rgb(150, 41, 150);
  border-right: 1px solid #e0e0e0;
  color: white;
}

.submenu-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: rgb(206, 49, 206);
  border-right: 1px solid #e0e0e0;
  color: white;
}

footer{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  position:static;
  width: 100%;
  bottom: 0;
}

img{
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
  height: 150px;
  width: 100%;
  object-fit: contain;
}

main{
  padding: 10px;
  width: 95%;
  margin: auto;
  
}

h4{
  text-align: center;
}

figure{
  text-align: center;
}

.volver{
  text-align: right;
  margin-bottom: 10px;
  position: sticky;
  border-radius: 10px;
  color: black;
  background-color: palevioletred;
  padding: 10px;
  top: 0;
  margin-top: 10px;
  font-size: 30px;
  width: fit-content;
  margin-left: auto;
}

body{
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Fondo2.png);
  background-size: contain;
  background-attachment: fixed;
}

body h2, h1{
  color: white;
}

.white{
  color: white;
}

.card{
  display: flex;
  text-align: center;
  background-color: white;
  flex-direction: column;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px black;
}

.card:hover, .cardty:hover{
  transform: scale(1.05);
  box-shadow: -5px 5px 10px black;
  transition-delay: 50ms;
  transition: transform 300ms, box-shadow 300ms;
}

.categoríadistinta{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,400px));
  gap: 20px;
  justify-content: center;
   justify-items: center;
}

.ry{
  grid-column: 2/3;
  grid-row: 2/3;
}
p{
  font-size: 20px;
  margin-bottom: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(33, 33, 33);
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.espacio{
  color: white;
}

.verimagen{
  background-color: darkorchid;
  border-radius: 10px;
  color:white;
  font-size: 30px;
  padding: 10px;
  margin-top: 30px;
}

.sitiooficial{
  background-color:indigo;
  border-radius: 10px;
  color:white;
  font-size: 30px;
  padding: 10px;
  margin-top: 30px;
}

.sitiooficial:hover{
  background-color: rgb(149, 0, 255);
  box-shadow: -5px 5px 10px black;
  transition-delay: 50ms;
  transition: background-color 300ms, transform 300ms;
}

.card ul{
  color: rgb(226, 15, 226);
  background-color: rgb(255, 255, 97);
  padding: 20px;
}

details{
  font-size: 40px;
}

.cardty{
  display: flex;
  text-align: center;
  background-color: white;
  flex-direction: column;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px black;
}

.cardty:hover{
  transform: scale(1.05);
  box-shadow: -5px 5px 10px black;
  transition-delay: 50ms;
  transition: transform 300ms, box-shadow 300ms;
}

.cardty ul{
  color: rgb(226, 15, 226);
  background-color: rgb(255, 255, 97);
  padding: 20px;
}

.card h2, .cardty h2{
  color: rgb(50, 50, 50);
}

h2{
  font-size: 50px;
}

summary{
  list-style-type: none;
  margin-bottom: 10px;
  font-family: 'roboto',sans-serif;
  font-weight: 400;
}

summary:hover{
  cursor: pointer;
}

summary::before{
  content: "⮟";
  background: rgb(255, 255, 173);
  color: rgb(159, 82, 232);
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.vervideo{
  background-color:mediumpurple;
  border-radius: 10px;
  color:white;
  font-size: 30px;
  padding: 10px;
  margin-top: 30px;
  bottom: 0;
}

.vervideo:hover{
  background-color: rgb(147, 92, 255);
  box-shadow: -5px 5px 10px black;
  transition-delay: 50ms;
  transition: background-color 300ms, transform 300ms;
}

@media(max-width:820px){
  h1{
    font-size: 40px;
  }
  .card{
    height: auto;
  }
  .card h1{
    font-size: 30px;
  }
  .wrapper{
    flex-wrap: wrap;
  }
  .ry{
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.título{
  font-size: 60px;
}
